body {
	text-align: center;
 +	background: url(http://gawker.com/queen-elizabeth-ii-absolutely-decapitates-very-rude-c-1775974659);
 background-size:  cover;
 color: #fff;
 font-family: Helvetica;
 hr {
 	width: 200px;
 }
 
  p {
 	font-size: 22px;
 } 